.horiFlex{
    display: flex;
    flex-direction: row;
}

.vertiFlex{
    display: flex;
    flex-direction: column;
}

h1{
    border-bottom: 1px solid white;
    margin-bottom: 15px;
}

h2{
    width: 10%;
    border-bottom: 1px solid white;
    margin: 15px 45%;
}

nav{
    width: 100%;
    height: 75px;
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background-color: #042a2b;
    
}

nav a:visited{
    color: white;
}

.tabsFlex{
    width: 25%;
    justify-content: space-evenly;
}

.profile{
    width: 50%;
    justify-content: center;
    margin: 0 25%;

}

.profileText{
    padding-left: 50px;
    width: 50%;
}

.profile-picture{
    width: 200px;
    margin-right: 50px;
    height: auto;
}

.profile-picture img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.aboutMe h2{
    text-align: center;
}

.aboutMe p{
    width: 50%;
    margin: 0 25%;
}

section{
    text-align: center;
    margin-top: 50px;
}

section img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px grey solid;
}

.projectFlex{
    width: 50%;
    margin: 0 25%;
    height: auto;
    margin-top: 25px;
    justify-content: space-evenly;

}

header, footer, section{
    margin-top: 40px;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("images/Lounge BG.jpg");
    color: white;
    min-height: 720px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Credit to W3Schools for reminding me how to do the parallax */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    
}
